obj
json
gltf
ybin
pbrt

**/straight-hair.ply
**/curly-hair.ply
**/hair-curl.ply
**/hair-block.ply

**/shape1.ply
**/texture1.png
**/texture2.hdr

**/body.ply
**/eyes.ply
**/face.ply
**/floor.ply
**/hair-body.ply
**/hair-eyebrows.ply
**/hair-eyes.ply
**/hair-face.ply
**/hair-head.ply
**/toes.ply
